@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

img{
    width: 100%;
}

@keyframes animate-gradient{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

.sidebar{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    position: fixed;
    animation: animate-gradient 10s ease infinite;
    background: linear-gradient(-45deg, #ec73ec, #ce4ad3, #ad00d8,  #d940ff) no-repeat;
    background-size: 300% 300%;
    border-radius: 0 5rem 5em 0;
}

.sidebar-pos{
    position: absolute;;
    top: 50%;
    transform: translateY(-50%);
}

.img-sidebar img{
    display: flex;
    justify-content: center;
    width: 65%;
    border: 8px solid linear-gradient(-45deg, #ec73ec, #ce4ad3, #ad00d8,  #d940ff) no-repeat;
    border-radius: 50%;
}

.img-sidebar{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    row-gap: 20px;
}

.menu a {
    color: #ffffff;
    opacity: 0.65;
    visibility: visible;
    font-size: 20px;
    text-decoration: none;
}

.menu a.selected{
    opacity: 1;
}

.menu a:hover{
    color: #ffffff;
    opacity: 1;
}

.content{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    background: white;
    overflow:auto;
    padding: 0 5%;
}

section.description{
    position: relative;
    padding-top: 100px;
}

section.description h2{
    color: #212529;
    font-size: 44px;
}

section.description h2> span,
section.description h3> span
{
    color: #e100ff;
}

section.description h3{
    margin: 10px 0;
    color: #6e6d74;
    font-size: 23px;
    
}

section.description p{
    color: #7e7f83;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 65.5px;
    text-align: justify;
}

.icons-social{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.icons-social a{
    color: azure;
    font-size: 24px;
    background: #495057;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
}

.uil:hover{
    color: #d940ff;
    opacity: 1;
    visibility: visible;
    font-size: 30px;
}

.icons-social i{
    line-height: 60px;
}


.side-bar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    width: 5%;
    height: 100%;
    animation: animate-gradient 10s ease infinite;
    background: linear-gradient(-45deg, #ec73ec, #ce4ad3, #ad00d8,  #d940ff) repeat;
    background-size: 300% 300%;
}

/*------------------------------ Responsividade - Icons ------------------------------*/

@media screen and (max-width:1440px) {

    .icons-social a{
        font-size: 18px;
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        text-align: center;
    }

    .uil:hover{
        color: #d940ff;
        opacity: 1;
        visibility: visible;
        font-size: 20px;
    }
    
    .icons-social i{
        line-height: 45px;
    }

}

@media screen and (max-width:1080px) {
    .icons-social a{
        font-size: 14px;
        width: 35px;
        height: 35px;
        border-radius: 17.5px;
        text-align: center;
    }

    .uil:hover{
        color:#d940ff;
        opacity: 1;
        visibility: visible;
        font-size: 16px;
    }
    
    .icons-social i{
        line-height: 35px;
    }  

}

@media screen and (max-width:860px) {
    .icons-social a{
        font-size: 12px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
    }

    .uil:hover{
        color: #d940ff;
        opacity: 1;
        visibility: visible;
        font-size: 14px;
    }
    
    .icons-social i{
        line-height: 30px;
    }  
}


@media screen and (max-width:720px) {
    .icons-social a{
        font-size: 10px;
        width: 25px;
        height: 25px;
        border-radius: 12.5px;
        text-align: center;
    }

    .uil:hover{
        color:black;
        opacity: 1;
        visibility: visible;
        font-size: 12px;
    }
    
    .icons-social i{
        line-height: 25px;
    }  
}

@media screen and (max-width:280px) {
    .icons-social a{
        font-size: 8px;
        width: 13px;
        height: 13px;
        border-radius: 6.5px;
        text-align: center;
    }

    .uil:hover{
        color: #d940ff;
        opacity: 1;
        visibility: visible;
        font-size: 10px;
    }
    
    .icons-social i{
        line-height: 13px;
    }  
}

/*------------------------------ Responsividade - description ------------------------------*/

@media screen and (min-width:1440px) {
    section.description h2{
        color: #212529;
        font-size: 46px;
    }

    section.description h3{
        margin: 10px 0;
        color: #6e6d74;
        font-size: 22px;
    }
    
    section.description p{
        color: #7e7f83;
        font-size: 20px;
        margin-top: 40px;
        margin-right: 65.5px;
        text-align: justify;
    }
}


@media screen and (max-width:768px) {
    section.description h2{
        color: #212529;
        font-size: 34px;
    }

    section.description h3{
        margin: 10px 0;
        color: #6e6d74;
        font-size: 13px;
    }
    
    section.description p{
        color: #7e7f83;
        font-size: 10px;
        margin-top: 40px;
        margin-right: 65.5px;
        text-align: justify;
    }
}

/*------------------------------ Responsividade - menu ------------------------------*/

@media screen and (max-width:1440px) {
    .menu a {
        color: #001845;
        opacity: 0.65;
        visibility: visible;
        font-size: 18px;
        text-decoration: none;
    }
}

@media screen and (max-width:768px) {
    
    .menu a {
        color: #001845;
        opacity: 0.65;
        visibility: visible;
        font-size: 16px;
        text-decoration: none;
    }
}

@media screen and (max-width:500px) {
    .menu{
        display: flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: wrap;
        column-gap: 5px;
        padding: 25px 0 0 0;
    }

    .menu a {
        color: #001845;
        opacity: 0.65;
        font-size: 12.5px;
        padding:5px;
        text-decoration: none;
        background:azure ;
        border-radius: 5em;
        
    }

}

/*---------------------------  Responsividade - side-bar-right and Descripyion ----------*/

@media screen and (max-width:500px){
    body{
        padding: 0;
    }

    .side-bar-right{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        border-radius: 10px 10px 0 0;
    }

    .icons-social{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .icons-social a{
        font-size: 10px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
    }

    .uil:hover{
        color: #d940ff;
        opacity: 1;
        visibility: visible;
        font-size: 15px;
    }
    
    .icons-social i{
        line-height: 30px;
    }  

    .sidebar{
        display: flex;
        justify-content: center;
        width: auto;
        height: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0 0 10px 10px;
    } 
    
    .content{
        width: 100%;
        left: 0;
    }

    .img-sidebar img{
        display: flex;
        justify-content: center;
        width: 25%;
        border: 4px solid azure;
        border-radius: 50%;
    }

    section.description{
        padding-top: 220px;
        position: relative;
    }

    section.description h2{
        color: #212529;
        font-size: 24px;
        text-align: center;
        margin-top: 0;
    }

    section.description h3{
        margin: 10px 0 0 0;
        color: #6e6d74;
        font-size: 14px;
        text-align: center;
    }

    section.description h4{
        margin: 30px 0 0 10px;
        color: #6e6d74;
        font-size: 20px; 
        text-align: center;
    }

    section.description h5{
        margin: 1px 0 0 10px;
        color: #d940ff;
        font-size: 12px; 
        text-align: center;
    }

    section.description h6{
        margin: 1px 0 0 10px;
        color: #6e6d74;
        font-size: 12px; 
        text-align: center;
    }

    section.description p{
        color: #7e7f83;
        font-size: 12px;
        margin-top: 15px;
        margin-right: 10px;
        margin-left: 10px;
        width: auto;
        text-align: justify;
    }
}
